@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "HomePage";
}

<!-- Container (DangNhap Section) -->
<div id="DangNhap" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đăng Nhập</h4>
            </div>
            <div class="modal-body row">
                <div class="row">
                    <div class="col-md-6">
                        <h1>ddddddddddd</h1>
                    </div>
                    <div class="col-md-6">
                        <h1>ddddddddddd</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h1>ddddddddddd</h1>
                    </div>
                    <div class="col-md-6">
                        <h1>ddddddddddd</h1>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Container (DangKy Section) -->
<div id="DangKy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đăng Ký</h4>
            </div>
            <div class="modal-body row">
                <div class="col-md-6">
                    <h1>ddddddddddd</h1>
                </div>
                <div class="col-md-6">
                    <h1>ddddddddddd</h1>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Container (TrangChu Section) -->
<div id="TrangChu">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
            <li data-target="#bs-carousel" data-slide-to="3"></li>
            <li data-target="#bs-carousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are creative</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Đăng ký ngay</button>
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are smart</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Đăng ký ngay</button>
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are amazing</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Đăng ký ngay</button>
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-4"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are convenient</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Đăng ký ngay</button>
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-5"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are flexible</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Đăng ký ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container (GioiThieu Section) -->
<div id="GioiThieu" class="container-fluid" style="background-color: #ffffff;">
    <div class="row">
    </div>
</div>
@*@{this.GetOutputWriter().Write(File.ReadAllText(Server.MapPath("~/Views/Shared/404NotFoundPage.html")));}
@RenderPage("~/Views/Shared/BackendUserHomePage.cshtml")*@
<!-- Container (KhoaHoc Section) -->
<div id="KhoaHoc" class="container-fluid">
    <div class="row">
        
    </div>
</div>

<!-- Container (GiaSu Section) -->
<div id="GiaSu" class="container-fluid">
    <div class="row">
    </div>
</div>

<!-- Container (HuongDan Section) -->
<div id="HuongDan" class="container-fluid">
    <div class="row">
    </div>
</div>

<!-- Container (CongGiaSu Section) -->
<div id="CongGiaSu" class="container-fluid">
    <div class="row">
    </div>
</div>

<!-- Container (ChungToi Section) -->
<div id="ChungToi" class="container-fluid">
    <div class="row">
    </div>
</div>
