@model IEnumerable<string>

<div class="list-group">
    <a href="@Url.Action("List", "Product")" class="list-group-item active">
        All Products
    </a>
    @foreach (var link in Model)
    {
        @Html.RouteLink(link, new
        {
            controller = "Product",
            action = "List",
            category = link,
            page = 1
        },
        new
        {
            @class = "list-group-item"
            + (link == ViewBag.SelectedCategory ? " btn-primary" : "")
        })
    }
</div>
