@model TutorOnline.Web.Models.SubjectsViewModels

@{
    ViewBag.Title = "Xóa khóa học";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
}

<div>
    <h3>Xóa khóa học</h3>
    <hr />
    
    <div class="alert alert-danger">
        <strong>Cảnh báo!</strong> Bạn có chắc chắn muốn xóa khóa học này?
    </div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa khóa học" class="btn btn-danger" />
            @Html.ActionLink("Trở lại", "Details", new { @id = Model.SubjectId }, new { @class = "btn btn-default" })
        </div>
    }
</div>
