@model IEnumerable<TutorOnline.Web.Models.MaterialViewModels>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tài liệu học tập của khóa học</title>
</head>
<body>
    <h4>Thêm SubjectId vào LearningMaterial table NHANH. :))</h4>
</body>
</html>
