
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <div> 
        Bạn không có quyền truy cập vào trang này!!!
    </div>
    <div>
        <a href="~/Home" class="btn btn-danger">Back to home</a>
    </div>
</body>
</html>
