@model TutorOnline.Web.Models.ForgotViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="background: #289399;">
    <div class="login-container" style="background: #f6ebeb;">
        <div class="form-box">
            <h4>Quên mật khẩu</h4>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @using (Html.BeginForm())
            {
                <span class="help-block">
                    Nhập Email bạn đã đăng ký
                    <br>
                    Chúng tôi sẽ gửi đến bạn mật khẩu mới. Xin hãy check mail và đổi mật khẩu
                </span>
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon-envelope"></i>
                    </span>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })                
                </div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                    Continue
                </button>
            }
           
        </div>
    </div>
</div>







