@model TutorOnline.Web.Models.ForgotViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*#289399*@
<div class="row" style="background-image: url(../../Image/forgot_password.jpeg); background-size: 410px 400px; background-repeat: no-repeat;">
    <div class="forgotpass-container" style="background-color: ghostwhite;">
        <div id="output-forgotEmail"></div>
        <div class="form-box">
            <h4>Quên mật khẩu</h4>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @using (Html.BeginForm("ForgotPassword", "Account", null, FormMethod.Post, new { id = "fogot-form-custom" }))
            {
                <span class="help-block">
                    Nhập Email bạn đã đăng ký.
                    <br>
                    Chúng tôi sẽ gửi đến bạn mật khẩu mới.
                    <br />
                    Xin hãy kiểm tra email và đổi mật khẩu.
                </span>
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon-envelope"></i>
                    </span>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                </div>

                <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                    Tiếp tục
                </button>
            }

        </div>
    </div>
</div>


<style>
    .forgotpass-container {
        position: relative;
        width: 335px;
        margin: 80px auto;
        padding: 20px 40px 40px;
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
    }

    #output-forgotEmail {
        position: absolute;
        width: 335px;
        top: -75px;
        left: 0;
        color: #fff;
    }

    #output-forgotEmail.alert-success {
        background: rgb(25, 204, 25);
    }

    #output-forgotEmail.alert-danger {
        background: rgb(228, 105, 105);
    }
</style>
<script src="~/Scripts/jquery-3.1.1.js"></script>

<script type="text/javascript">

    $(function () {
        var textfield = $("input[name=Email]");
        $('#fogot-form-custom').submit(function (e) {
            e.preventDefault();// to stop the form from submitting
            if (textfield.val() != "") {
                this.submit();
            } else {
                //remove success mesage replaced with error message
                $("#output-forgotEmail").removeClass(' alert alert-success');
                $("#output-forgotEmail").addClass("alert alert-danger animated fadeInUp").html("Bạn phải điền Email");
            }

        });
    });


    $(document).ready(function () {
        var mess = "@ViewBag.ErrorMess";
        if (mess != null && mess != "") {
            $("#output-forgotEmail").removeClass(' alert alert-success');
            $("#output-forgotEmail").addClass("alert alert-danger animated fadeInUp").html(mess);
        }
    });
</script>



