@model HappyCakeStore.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Top content -->
<div class="top-content" style="background-color: aquamarine">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to administration area</h3>
                            <p>Enter your username and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary()
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-username form-control", type = "text", name = "form-username", placeholder = "Username...", id = "form-username" })
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-password form-control", type = "password", name = "form-password", placeholder = "Password...", id = "form-password" })
                            </div>
                            <button type="submit" class="btn">Log In</button>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    <h3>...or login with:</h3>
                    <div class="social-login-buttons">
                        <a class="btn btn-link-2" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-link-2" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-link-2" href="#">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>