@model HappyCakeStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_OrderLayout.cshtml";

}

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
    new { Page = x, category = Model.CurrentCategory }))
</div>

