@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FeedbackInLesson</title>
</head>
<body>
    <div> 
        <h4>FeedbackInLesson</h4>
    </div>
</body>
</html>
