@model IEnumerable<TutorOnline.Web.Models.AnswerViewModels>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Các câu trả lời cho câu hỏi trắc nghiệm</title>
</head>
<body>
    <h4>Các câu trả lời cho câu hỏi trắc nghiệm của bài học</h4>
</body>
</html>
