@model TutorOnline.Web.Models.QuestionLinkViewModels

@{
    ViewBag.Title = "Xóa bài tập tham khảo của khóa học";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
}

<div>
    <h3>Xóa bài tập tham khảo của khóa học</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>Thuộc khóa học:</dt>
        <dd>@Html.DisplayFor(modelItem => modelItem.subjectName)</dd>
        <dt>Link bài tập tham khảo:</dt>
        <dd>@Html.DisplayFor(modelItem => modelItem.Link)</dd>
    </dl>
    <br />
    <div class="alert alert-danger">
        Bạn có chắc chắn muốn link bài tập tham khảo này?
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa bài tập tham khảo" class="btn btn-danger" />
            @Html.ActionLink("Quay lại", "Details", "Subjects", new { id = ViewBag.subId }, new { @class = "btn btn-default" })
        </div>
    }
</div>
