
@{
    ViewBag.Title = "Không tìm thấy trang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-404">
    <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
    <h2 class="font-bold">Lỗi 404! Không tìm thấy trang yêu cầu.</h2>
    <div class="error-desc">
        Xin lỗi, địa chỉ trang bạn đang yêu cầu đã không thể tìm thấy hoặc không tồn tại. <br />
        Tải lại trang hoặc nhấn vào nút bên dưới để quay lại trang chủ.
        <div>
            <br />
            @Html.ActionLink("Trở lại trang chủ", "Index", "Home", null, new { @class = "btn btn-primary glyphicon glyphicon-home"})
        </div>
    </div>
</div>

